<div *ngIf="show">
  <h2>{{ show.name }}</h2>
  <div class="row">
    <div class="col-4">
      <img src="{{ show.image.medium }}" width="200px" height="300px" />
    </div>
    <div class="col-6">
      <p [innerHtml]="[show.summary]"></p>
      <p>
        Language: <span>{{ show.language }}</span>
      </p>
      <p>
        Genres: <span>{{ show.genres }}</span>
      </p>
      <p>
        Status: <span>{{ show.status }}</span>
      </p>
      <p>
        Premiered: <span>{{ show.premiered }}</span>
      </p>
      <p>
        Official site:
        <span
          ><a href="{{ show.officialSite }}" target="_blank">{{
            show.officialSite
          }}</a></span
        >
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <h3>Cast</h3>
      <div *ngFor="let person of cast" class="row">
        <div class="col">
          <img
            src="{{ person.image }}"
            height="200px"
            width="150px"
            class="m-3"
          />
        </div>
        <div class="col">
          <p>{{ person.name }}</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3>Episodes</h3>
      <div *ngFor="let episode of episodes">
        <p>{{ episode }}</p>
      </div>
    </div>
  </div>
</div>
