h4,
h3 {
  font-weight: bold;
}
#show-link {
  text-decoration: none;
  color: royalblue;
}
#show-link:hover {
  text-decoration: underline;
}
#show-image {
  border-radius: 10px;
  border: 5px solid rgb(201, 201, 201);
  position: relative;
  left: 25%;
}
.episode {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #image-summary {
    flex-direction: column;
    align-items: center;
  }
  #show-image {
    margin-bottom: 1em;
  }
  #show-image {
    left: 0;
  }
  #cast-episodes {
    flex-direction: column;
    align-items: center;
  }
  #summary {
    width: 100%;
  }
}
