<form class="row g-3">
  <div class="col-md">
    <input
      id="show-input"
      class="form-control form-control-lg"
      type="text"
      placeholder="Find show..."
      [formControl]="showForm"
      autocomplete="off"
      autofocus
    />
  </div>
  <div class="col-auto">
    <button
      id="search-btn"
      class="btn btn-primary mt-1"
      type="button"
      (click)="searchShow()"
    >
      Search
    </button>
  </div>
</form>

<div id="loading">
  <div *ngIf="isLoading" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
