#shows-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1em;
}
#show {
  padding: 2em 2em 2em 3.5em;
  margin-top: 1em;
}
#show:hover {
  background-color: rgb(245, 245, 245);
}
#show-link {
  color: black;
  text-decoration: none;
}
#show-image {
  border: 5px solid rgb(201, 201, 201);
  border-radius: 15px;
}
.center-elements {
  align-items: center;
  justify-content: center;
}
#show-name {
  font-weight: bold;
  display: inline;
}
#show-score {
  font-size: 0.9em;
  color: gray;
  float: right;
}
#show-genre {
  color: gray;
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  form {
    min-width: 350px;
    justify-content: center;
  }
  .center-elements {
    flex-direction: column;
  }
  #show-list {
    flex-direction: row;
  }
  #search-btn {
    margin-bottom: 1em;
  }
  #show {
    margin-top: 0;
    min-width: 350px;
  }
  #show-image {
    margin-bottom: 1em;
  }
}
#loading {
  display: flex;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: royalblue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
