#title {
  font-size: xx-large;
  text-decoration: none;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}
#moon {
  position: relative;
  left: 10px;
  bottom: 5px;
}
#sun {
  position: relative;
  right: 10px;
  bottom: 5px;
}
#shows-container {
  // height: fit-content;
}
 